@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

* {
    /* border: 1px red solid; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
}

/* Google Fonts Material Symbols settings */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 2em;
    gap: 3em;
    background-color: black;
    overflow: hidden;
}

.container-gameboard {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

    border: none;
    gap: 0.5em;
    /* background-color: red; */

    width: 30em;
    height: 30em;
}

.game-cell {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    border-radius: 0.25em;
    background-color: white;
    /* transition: background-color 200ms ease-in-out; */
    transition: transform 300ms ease-in-out;
}

.game-cell:hover {
    cursor: pointer;
}

.cell-taken:hover {
    cursor: default;
}

.container-gameboard.game-over .game-cell {
    cursor: default;
}

.winner-animation {
    animation: winnerPulse 1200ms infinite ease-in-out;
    color: red;
}

.reset {
    display: flex;
    flex-flow: row;
    margin-top: 1em;
    gap: 0.5em;
    justify-content: end;
}

.reset button {
    font-family: "Material Symbols Outlined";
    font-size: 1.5rem;
    
    border: none red;
    border-radius: 50%;
    background-color: black;
    color: white;
    
    width: 2em;
    height: 2em;
    
    overflow: hidden;
    transition: transform 30ms ease-in;
}

.reset button:hover {
    cursor: pointer;
    color: red;
    border: 2px solid red;
    transition: color border 200ms ease-in-out;
}

.reset button:active {
    transform: scale(0.97);
    transition: transform 30ms ease-in;
}

.reset-indicator {
    background-color: pink;
    transform: scale(1.02);
    transition: all 300ms ease-in-out;
}

.delete-indicator {
    color: pink;
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
}

.container-scoreboard {
    display: flex;
    flex-flow: column;
    padding: 2em;
    color: white;
    line-height: 1.5;
}

.container-scoreboard h1 {
    align-self: center;
    font-size: 3rem;
}

.display {
    font-size: 2rem;
}

.display-current-state {
    align-self: center;
    animation: currentStateInOut 2000ms infinite ease-in-out;
}

.counter {
    font-size: 2.5rem;
    display: inline-block;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.animate-score {
    animation: counterRoll 0.4s ease-in-out
}

@keyframes winnerPulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

@keyframes currentStateInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes counterRoll {
    0% { opacity: 1; transform: translateY(0); }
    45% { opacity: 0; transform: translateY(-1em); }
    55% { opacity: 0; transform: translateY(1em); }
    100% { opacity: 1; transform: translateY(0em); }
}